
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/premium-photo/abstract-colorful-background-grain-noise-effect-blur-color-background-use_861973-28280.jpg');
    background-size: cover;
    padding: 20px;
    color: #333;
}


header {
    text-align: center;
    margin-bottom: 40px;
    background-image: url('https://img.freepik.com/premium-photo/abstract-colorful-background-grain-noise-effect-blur-color-background-use_861973-28280.jpg');
    background-size: cover;
}

h1 {
    font-size: 36px;
    color: #4CAF50;
}


.auction-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.item img {
    width: 300px;
    height: 550px;
    
    object-fit: contain;
    border-radius: 8px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}

p {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
}

.current-bid {
    font-weight: bold;
    color: #e53935; 
}

label {
    font-size: 16px;
    color: #777;
    display: block;
    margin-top: 10px;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 250px; 
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #777;
}
